body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

img {
    height: 200px;
}

h1 {
    font-size: 32px;
    color: #0062ff;
}

footer {
    color: rgb(0, 255, 34);
}

input {
    font-weight: bold;
    color: green;
}

#details {
    color: fuchsia;
}
